
div.wrapper-b1 {
    background: url("../images/module_box_corners.png") no-repeat scroll 0 -51px rgba(0, 0, 0, 0);
}

div.wrapper-b2 {
    background: url("../images/module_box_corners.png") no-repeat scroll 100% -68px rgba(0, 0, 0, 0);
    padding: 0 7px;
}

div.wrapper-b3 {
    background: url("../images/module_box_corners.png") repeat-x scroll 0 -85px rgba(0, 0, 0, 0);
    height: 7px;
    overflow: hidden;
}

#bottom {
    clear: both;
    overflow: hidden;
}

#footer a.anchor {
    background: url("../images/footer_anchor.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 19px;
    position: absolute;
    right: 3px;
    text-decoration: none;
    top: 2px;
    width: 19px;
}

#footer a.anchor:hover {
    background-position: 0 -30px;
}