
a.bulle {
    color: #396a86;
    font-family: arial,verdana,sans-serif;
    font-size: 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
a.bulle:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    z-index: 100000;
}
a.bulle span {
    display: none;
}
a.bulle:hover span {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 white;
    border-color: #62c0f4;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
    display: block;
    font-family: arial,verdana,sans-serif;
    font-size: 12px;
    font-weight: normal;
    left: 40px;
    padding: 5px;
    position: absolute;
    text-align: justify;
    top: -10px;
    width: 500px;
}
