#content {
    float: left;
    left: 50%;
    position: relative;
    width: 50%;
}

#content-shift {
    left: -100%;
    overflow: hidden;
    position: relative;
}

div.wrapper-t1 {
    background: url("../images/module_box_corners.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

div.wrapper-t2 {
    background: url("../images/module_box_corners.png") no-repeat scroll 100% -17px rgba(0, 0, 0, 0);
    padding: 0 7px;
}

div.wrapper-t3 {
    background: url("../images/module_box_corners.png") repeat-x scroll 0 -34px rgba(0, 0, 0, 0);
    height: 7px;
    overflow: hidden;
}

div.wrapper-1 {
    background: url("../images/module_box_edges.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}


div.wrapper-2 {
    background: url("../images/module_box_edges.png") repeat-y scroll 100% 0 rgba(0, 0, 0, 0);
    padding: 0 5px;
}


div.wrapper-3 {
    background: none repeat scroll 0 0 #ffffff;
    overflow: hidden;
    padding: 10px;
	min-height:300px;
}

div.joomla div.leadingarticles {
    overflow: hidden;
}


div.joomla div.teaserarticles {
    overflow: hidden;
}

div.joomla div.pagination {
    text-align: center;
}

div.joomla div.item {
    margin-bottom: 15px;
}


div.joomla div.item-bg {
    background: url("../images/article_separator.png") repeat-x scroll 50% 100% rgba(0, 0, 0, 0);
    overflow: hidden;
    padding-bottom: 15px;
}



div.joomla div.headline {
    margin-top: 5px;
    overflow: hidden;
    padding-bottom: 2px;
}


div.joomla h1.title {
    float: left;
    margin: 0;
}
div.joomla h1 {
    letter-spacing: -1px;
}
.joomla h1, .joomla h2, .joomla h3, .joomla h4, .joomla h5, .joomla h6 {
}
h1, #page h1 a, h3, h5, .contentheading, .componentheading {
    color: #c01318;
}
h1 {
    color: #417cab;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Helvetica,sans-serif;
}
h1 {
    font-size: 25px;
    line-height: 28px;
    margin-top: 25px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 10px;
}


div.joomla p.articleinfo {
    font-size: 80%;
    letter-spacing: 1px;
    line-height: 150%;
    margin-top: 0;
    text-transform: uppercase;
}
p {
    margin-bottom: 15px;
    margin-top: 10px;
}

div.joomla p.articleinfo span.modified, div.joomla p.articleinfo span.author, div.joomla p.articleinfo span.created, div.joomla p.articleinfo span.url {
    white-space: nowrap;
}

div.joomla p.articleinfo {
    font-size: 80%;
    letter-spacing: 1px;
    line-height: 150%;
    text-transform: uppercase;
}

img.media {
	max-width: 400px;
	max-height: 400px;
}

video.media {
	max-width: 400px;
	max-height: 400px;
}