#mainMenu1 {
    background-color: #b90705;
    border: medium none;
    color: #000;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 235px;
    width: 130px;
    z-index: 1;
}


#menuList1 {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: static;
}


#menuList1 li {
    display: inline;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

#menuList1 li a {
    background-color: #b90705;
    border-bottom: 1px solid White;
    color: #fff;
    display: block;
    margin: 0;
    padding: 4px 5px;
    text-decoration: none;
}