body {
	color: #323232;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 150%;
}

.wrapper {
	width: 980px;
}

.wrapper {
	margin: auto;
}

.title {
	margin: auto;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

#middle {
	overflow: hidden;
	position: relative;
	width: 100%;
	clear: both;
	min-height: 300px;
}

#middle-expand {
	width: 200%;
}


#main {
	float: left;
	left: 50%;
	position: relative;
	width: 50%;
}

#main-shift {
	margin-left: 245px;
	left: -100%;
	overflow: hidden;
	position: relative;
}
		
		
#mainmiddle {
    overflow: hidden;
    position: relative;
    width: 100%;
}


#mainmiddle-expand {
    width: 200%;
}

h1,
h2 {
	font-size: 24px;
}
p {
	margin: 10px 0 10px 0;
	font-size: 16px;
	line-height: 1.32;
}

a {
	color: #7aa76d;
	text-decoration: none;
	-webkit-transition: 0.15s color ease;
	-moz-transition: 0.15s color ease;
	-ms-transition: 0.15s color ease;
	-o-transition: 0.15s color ease;
	transition: 0.15s color ease;
}
a:hover {
	color: #91cd85;
}
small {
	display: block;
	margin-top: 15px;
	padding-top: 15px;
	color: #333;
	font-size: 0.85em;
	border-top: 1px dashed #ccc;
	-webkit-text-size-adjust: none;
}