.header-1 {
	background-color: #CAD848;
}

#header {
	clear: both;
	padding-bottom: 10px;
	position: relative;
	z-index: 10;
}

#headerbar {
	height: 120px;
	min-height: 55px;
	overflow: hidden;
	/*padding: 0 0 0 300px;*/
}

.logo {
	left: 10px;
	position: absolute;
	top: 10px;
}