#left {
	width: 245px;
	float: left;
	left: -50%;
	overflow: hidden;
	position: relative;
}

div.module {
	position: relative;
}

div.mod-box-header h3.header {
    background-image: url("../images/module_box_corners_portail.png");
}

.module span.header-2, .module span.header-3 {
    display: block;
}

div.mod-box-header span.header-3 {
    height: 45px;
    line-height: 37px;
    overflow: hidden;
    padding-left: 10px;
}

.module span.header-2, .module span.header-3 {
    display: block;
}
		
div.mod-box-header span.header-3 {
    line-height: 37px;
}

#left .module, #right .module, #contentleft .module, #contentright .module {
	margin-bottom: 0;
}

div.mod-box div.box-t1 {
    background: url("../images/module_box_corners.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

div.mod-box div.box-t2 {
    background: url("../images/module_box_corners.png") no-repeat scroll 100% -17px rgba(0, 0, 0, 0);
    padding: 0 7px;
}

div.mod-box div.box-t3 {
    background: url("../images/module_box_corners.png") repeat-x scroll 0 -34px rgba(0, 0, 0, 0);
    height: 7px;
    overflow: hidden;
}


div.mod-box div.box-1 {
    background: url("../images/module_box_edges.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
}

div.mod-box div.box-2 {
    background: url("../images/module_box_edges.png") repeat-y scroll 100% 0 rgba(0, 0, 0, 0);
    padding: 0 5px;
}

div.mod-box-header div.with-header {
    padding-top: 40px;
}

div.mod-box div.box-3 {
    background: none repeat scroll 0 0 #ffffff;
    overflow: hidden;
    padding: 10px;
}

div.mod-box div.box-b1 {
    background: url("../images/module_box_corners.png") no-repeat scroll 0 -51px rgba(0, 0, 0, 0);
}

div.mod-box div.box-b2 {
    background: url("../images/module_box_corners.png") no-repeat scroll 100% -68px rgba(0, 0, 0, 0);
    padding: 0 7px;
}

div.mod-box div.box-b3 {
    background: url("../images/module_box_corners.png") repeat-x scroll 0 -85px rgba(0, 0, 0, 0);
    height: 7px;
    overflow: hidden;
}

ul#menu li {
	list-style-type:none;
}

ul#menu li a{
	text-decoration: none;
}